* {
  font-family: SFPro;
  font-size: 19px;
}

window#waybar {
  background-color: #12151F;
  /* border-bottom: 3px solid #000000; */
  color: #ffffff;
  transition-property: background-color;
  transition-duration: 0.5s;
  border-radius: 0px;
  transition-duration: .5s;
  margin: 16px 16px;
  /*padding: 50px 50px;*/
}

window#waybar.hidden {
  opacity: 0.2;
}

#workspaces button {
  padding: 0 5px;
  background-color: transparent;
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each workspace name */
  border: none;
  border-radius: 0;
  margin: 7px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
  background: rgba(0, 0, 0, 0.2);
  color: #ffffff;
}

#workspaces button.focused {
  color: #bf616a;
}

#workspaces button {
  color: #ffffff;
  background: #0C0E14;
  border-radius: 10px;
  padding: 0px 10px 0px 10px;
  margin: 7px 10px 10px 0px;
  /* border: 2px solid rgba(24, 27, 40, 1.0); */
}

#workspaces button.active {
  color: #12151F;
  background: #6a92d7;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}


#window {
  color: #64727d;
}

#custom-launcher,
#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#tray,
#mode,
#idle_inhibitor,
#custom-powermenu{
  padding: 0px 20px;
  margin: 7px 0px 10px 0px;
  color: #e5e5e5;
	border-radius: 14px;
  background-color: #181B28;
  /* border: 2px solid rgba(24, 27, 40, 1.0); */
}

#window,

#custom-launcher {
  padding: 0px 25px 0px 20px;
  margin: 7px 0px 10px 20px;
  color: #0C0E14;
  background-color: #0FDBBE;
}

#cpu {
  color: #0C0E14;
  background-color: #1AC4BB;
}

#memory{
  color: #0C0E14;
  background-color: #25ADB8;
}

#backlight {
  color: #0C0E14;
  background-color: #3096B5;
}

#pulseaudio {
  color: #0C0E14;
  background-color: #3B7FB3;
}

#network {
  color: #0C0E14;
  background-color: #4568B0;
}

#battery {
  color: #0C0E14;
  background-color: #5051AD;
}

#clock {
  color: #0C0E14;
  background-color: #5B3AAA;
}

#custom-powermenu {
  color: #0C0E14;
  padding: 0px 25px 0px 20px;
  margin: 7px 20px 10px 0px;
  background-color: #6623A7;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}



@keyframes blink {
  to {
    background-color: rgba(30, 34, 42, 0.5);
    color: #abb2bf;
  }
}

#battery.critical:not(.charging) {
  color: #f53c3c;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

label:focus {
  background-color: #000000;
}


