@import "../colors/aurora.css";

* {
  font-family: SFPro;
  font-size: 17px;
}

window#waybar {
  background-color: rgba(18, 21, 31, 0.6);
  /* border-bottom: 3px solid #000000; */
  color: @text;
  transition-property: background-color;
  transition-duration: 0.5s;
  border-radius: 0px;
  transition-duration: .5s;
  margin: 16px 16px;
}

window#waybar.hidden {
  opacity: 0.2;
}

#workspaces button {
  padding: 0 5px;
  background-color: transparent;
  box-shadow: inset 0 -3px transparent;
  border: none;
  border-radius: 0;
  margin: 7px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
  background: rgba(0, 0, 0, 0.2);
  color: @text;
}

#workspaces button {
  color: @text;
  background: @background3;
  border-radius: 8px;
  padding: 0px 10px 0px 10px;
  margin: 7px 10px 10px 0px;
  border: 1px solid @border;
}

#workspaces button.active {
  color: @background2;
  background: @accent1;
  border: none; 
}

#custom-launcher,
#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#tray,
#mode,
#idle_inhibitor,
#custom-powermenu{
  padding: 0px 20px;
  margin: 7px 0px 10px 0px;
  color: #e5e5e5;
	border-radius: 8px;
  background-color: #181B28;
  /* border: 2px solid rgba(24, 27, 40, 1.0); */
}

#window,

#custom-launcher {
  padding: 0px 25px 0px 20px;
  margin: 7px 0px 10px 20px;
  color: #0C0E14;
  background-color: @gradient1;
}

#cpu {
  color: #0C0E14;
  background-color: @gradient2;
}

#memory{
  color: #0C0E14;
  background-color: @gradient3;
}

#backlight {
  color: #0C0E14;
  background-color: @gradient4;
}

#pulseaudio {
  color: #0C0E14;
  background-color: @gradient5;
}

#network {
  color: #0C0E14;
  background-color: @gradient6;
}

#battery {
  color: #0C0E14;
  background-color: @gradient7;
}

#clock {
  color: #0C0E14;
  background-color: @gradient8;
}

#custom-powermenu {
  color: #0C0E14;
  padding: 0px 25px 0px 20px;
  margin: 7px 20px 10px 0px;
  background-color: @gradient9;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}



@keyframes blink {
  to {
    background-color: rgba(30, 34, 42, 0.5);
    color: #abb2bf;
  }
}

#battery.critical:not(.charging) {
  color: #f53c3c;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

label:focus {
  background-color: #000000;
}


